.cmp-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cmp-menu .menu-hamburguesa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  display: none;
}

.cmp-menu .menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  margin-left: 10px;
}

.cmp-menu .menu-opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cmp-menu .menu-opciones a {
  color: black;
  text-decoration: none;
}

.cmp-menu .menu-idioma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.cmp-contenido {
  margin-bottom: 10px;
  /*
    @media screen and (max-width: 620px) {
        .ContenedorPrincipal{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        .ContenedorDrch{
            float: none;
            margin-top: 20px;
        }
    }*/
}

.cmp-contenido .ContendorImg {
  max-width: 1440px;
  max-height: 449px;
}

.cmp-contenido .ContendorImg img {
  width: 100%;
  height: 100%;
}

.cmp-contenido h1 {
  margin-left: 15px;
}

.cmp-contenido .ContenedorPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 40px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 {
  position: relative;
  margin-bottom: 30px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 {
  position: relative;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 {
  position: relative;
  margin-bottom: 50px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 {
  position: relative;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal img {
  width: 100%;
  height: 100%;
}

.cmp-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  border: 1px solid lightgray;
}

.cmp-footer .opciones-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cmp-footer .opciones-footer .opcion-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

.cmp-footer .opciones-footer .opcion-footer .opcion-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.cmp-footer .opciones-footer .opcion-footer .opcion-texto span {
  margin-bottom: 5px;
  font-weight: normal;
}

.cmp-footer .footer-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: calc(100% - 40px);
  padding: 0 20px;
}

.cmp-footer .footer-newsletter span {
  font-weight: bold;
}

.cmp-footer .footer-newsletter .introducir-correo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cmp-footer .footer-newsletter .introducir-correo input {
  border: none;
  margin-left: 10px;
  outline: none;
}

.cmp-footer .footer-newsletter .introducir-correo img {
  margin-right: 5px;
  margin-left: 70px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cmp-footer .newsletter-enviar {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cmp-footer .newsletter-enviar span {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.cmp-footer .newsletter-enviar img {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*
@media screen and (max-width: 991px) {
    .cmp-footer {
        flex-direction: column;
        .opciones-footer {
            order: 1;
            flex-direction: column;
            .opcion-footer {
                margin-bottom: 30px;
            }
        }
        .footer-newsletter {
            order: 0;
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 10px;
            .introducir-correo {
                img {
                    display: none;
                }
            }
        }
        .newsletter-enviar {
            display: block;
            display: flex;
            justify-content: flex-end;
            img {
                margin-right: 10px;
            }
        }
    }
}*/
@media screen and (max-width: 991px) {
  .cmp-menu .menu-logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cmp-menu .menu-opciones {
    display: none;
  }
  .cmp-menu .menu-idioma {
    display: none;
  }
  .cmp-menu .menu-hamburguesa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
  }
  .cmp-contenido .ContenedorPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .cmp-contenido .ContenedorPrincipal .ContenedorIzq {
    width: 100%;
    margin-left: 0px;
  }
  .cmp-contenido .ContenedorPrincipal .ContenedorDrch {
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .cmp-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cmp-footer .opciones-footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cmp-footer .opciones-footer .opcion-footer {
    margin-bottom: 30px;
  }
  .cmp-footer .footer-newsletter {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .cmp-footer .footer-newsletter .introducir-correo img {
    display: none;
  }
  .cmp-footer .newsletter-enviar {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cmp-footer .newsletter-enviar img {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=Tarea2.css.map */