.cmp-contenido .ContendorImg {
  max-width: 1440px;
  max-height: 449px;
}

.cmp-contenido .ContendorImg img {
  width: 100%;
  height: 100%;
}

.cmp-contenido h1 {
  margin-left: 15px;
}

.cmp-contenido .ContenedorPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 40px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 {
  position: relative;
  margin-bottom: 30px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item1 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 {
  position: relative;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorIzq .item2 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 {
  position: relative;
  margin-bottom: 50px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item3 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 {
  position: relative;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 p {
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.cmp-contenido .ContenedorPrincipal .ContenedorDrch .item4 .flecha {
  width: 40px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  bottom: 15px;
  right: 16px;
}

.cmp-contenido .ContenedorPrincipal img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 620px) {
  .cmp-contenido .ContenedorPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .cmp-contenido .ContenedorDrch {
    float: none;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=ContenidoComponente.css.map */