{% extends "../../../template/template.twig" %}

{% block page %}

<div class="cmp-cardsicon">

<h2>Cards Icon</h2>

<br>

<h3>Acceso a segundo nivel</h3>
    <div class="ContenedorPrincipal">
    <div class="Columna">
    <div class="contenedorCard orangeCard">
        <div class="contenedorCardG ">
                <img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">
                <h4>Pedidos</h4>
        </div>

        <div class="contenedorCardP ">
        <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">   
             </div>

    </div>

    <div class="contenedorCard blueCard">
        <div class="contenedorCardG">
<img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">                <h4>Farmacuenta</h4>
        </div>

        <div class="contenedorCardP">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">
        </div>

    </div>

      <div class="contenedorCard redCard ">
        <div class="contenedorCardG">
<img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">                <h4>Avantia</h4>
        </div>

        <div class="contenedorCardP">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">
        </div>

    </div>


    </div>

       <div class="Columna">

    <div class="contenedorCard aquamarineCard ">
        <div class="contenedorCardG">
<img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">                <h4>Bitransfer</h4>
        </div>

        <div class="contenedorCardP">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">
        </div>

    </div>

      <div class="contenedorCard yellowGCard ">
        <div class="contenedorCardG">
<img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">                <h4>Bidafarma</h4>
        </div>

        <div class="contenedorCardP">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">
        </div>

    </div>

      <div class="contenedorCard limeCard ">
        <div class="contenedorCardG">
<img src="https://cdn-icons.flaticon.com/png/128/4108/premium/4108326.png?token=exp=1649259546~hmac=d73962f58ed8164624686974451ae25e">                <h4>Bida informática</h4>
        </div>

        <div class="contenedorCardP">
        <img src="https://cdn-icons-png.flaticon.com/512/134/134288.png">
        </div>

    </div>


    </div>
    </div>
</div>

{% endblock %}