//Variables Button
$variablesbuttons: ( bordersize:2px, font-family:OpenSans-Regular, font-bold:OpenSans-Bold);
//Variables checkBox
$variablesCheck: ( grey:#ccc, white: #eee, font-family:OpenSans-Regular, font-bold:OpenSans-Bold);
//Variables Radio
$variablesRadio: ( grey:#ccc, white: #eee, font-family:OpenSans-Regular, font-bold:OpenSans-Bold);
//Variables Select
$variablesSelect:(disable-grey:#5A5A63, grey:#ccc, font-family:OpenSans-Regular, font-bold:OpenSans-Bold);
//Variables textArea´
$variablesTextarea:(font-family:OpenSans-Regular, font-bold:OpenSans-Bold, rederror: #E0535B, hover-grey:#ebe6ee, red-hover-error: #F72B2A);

//Variables accordion
$variablesAccordion:(font-family:OpenSans-Regular, font-bold:OpenSans-Bold, radioaccordion-label:darkblue, checkaccordion-label:orange, radioaccordion-content:aliceblue, checkaccordion-content:lemonchiffon, radioaccordion-label-hover:#383330, checkaccordion-content-hover:blanchedalmond);
/** Colors **/

$colors: (
/** primary colors **/

light: whitesmoke, dark: #000000, white:white,
/** App colors **/

c-primary: red, secondary:blue, tertiary: green, orangeAt: orange, focusBlue: darkblue, c-primary-light:#EF4C00)