@import "../../../_scss/variables/colors";
.cmp-textarea {
    span {
        display: none;
    }
    textarea {
        display: block;
        width: 200px;
        height: 50px;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid gainsboro;
        overflow: auto;
        // tamaños
        &.txtarea-lg {
            width: 300px;
            height: 100px;
        }
        &.txtarea-sm {
            width: 100px;
            height: 30px;
        }
        // desactivado
        &.txtarea-disable {
            pointer-events: none;
        }
        // redimensiones
        &.txtarea-resize-vertical {
            resize: vertical;
        }
        &.txtarea-resize-horizontal {
            resize: horizontal;
        }
        &.txtarea-no-resize {
            resize: none;
        }
        // efectos
        &.txtarea-round-borders {
            border-radius: 5px;
        }
        &.txtarea-shadow {
            box-shadow: 6px 9px 8px -1px rgba(0, 0, 0, 0.61);
        }
        &.txtarea-error {
            border: 2px solid red;
            background-color: map-get($variablesTextarea, rederror);
            &~span {
                margin-top: 2px;
                margin-bottom: 6px;
                display: block;
                color: red;
                font-size: 10px;
            }
        }
        &:focus {
            outline: none;
            border: 2px solid map-get($colors, dark);
            &.txtarea-error {
                background-color: map-get($colors, light);
                border: 2px solid red;
            }
        }
        &:hover {
            background-color: map-get($variablesTextarea, hover-grey);
            // &.txtarea-error {
            //     background-color: map-get($variablesTextarea, red-hover-error);
            // }
        }
    }
}