{% extends "../../../template/template.twig" %}

{% block page %}

<div class="cmp-boton">
        <h1>Colores</h1>
    <div class="colores">
        <button class="btn btn-primary">Botón</button>
        <button class="btn btn-secondary">Botón</button>
        <button class="btn btn-tertiary">Botón</button>
        <button class="btn btn-dark">Botón</button>
        <button class="btn btn-light">Botón</button>
      
    </div>
    </div>

{% endblock %}