.cmp-footer {
    display: flex;
    max-width: 1440px;
    border: 1px solid lightgray;
    .opciones-footer {
        display: flex;
        flex: 1;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        .opcion-footer {
            display: flex;
            list-style: none;
            flex-direction: column;
            font-weight: bold;
            .opcion-texto {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                span {
                    margin-bottom: 5px;
                    font-weight: normal;
                }
            }
        }
    }
    .footer-newsletter {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-right: 20px;
        span {
            font-weight: bold;
        }
        .introducir-correo {
            display: flex;
            border: 1px solid;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 40px;
            input {
                border: none;
                margin-left: 10px;
                outline: none;
            }
            img {
                margin-right: 5px;
                margin-left: 70px;
                transform: rotate(180deg);
            }
        }
    }
    .newsletter-enviar {
        display: none;
        span {
            color: red;
            font-weight: bold;
            cursor: pointer;
        }
        img {
            margin-left: 20px;
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 991px) {
    .cmp-footer {
        flex-direction: column;
        .opciones-footer {
            order: 1;
            flex-direction: column;
            .opcion-footer {
                margin-bottom: 30px;
            }
        }
        .footer-newsletter {
            order: 0;
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 10px;
            .introducir-correo {
                img {
                    display: none;
                }
            }
        }
        .newsletter-enviar {
            display: block;
            display: flex;
            justify-content: flex-end;
            img {
                margin-right: 10px;
            }
        }
    }
}