.cmp-menu {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    .menu-hamburguesa {
        display: flex;
        width: 100px;
        display: none;
    }
    .menu-logo {
        display: flex;
        width: 100px;
        margin-left: 10px;
    }
    .menu-opciones {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
    }
    .menu-idioma {
        display: flex;
        margin-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .cmp-menu {
        justify-content: flex-start;
        .menu-opciones {
            display: none;
        }
        .menu-idioma {
            display: none;
        }
        .menu-hamburguesa {
            display: flex;
        }
    }
}